name: golangCI by gofast-pkg

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
    
    - name: Install
      run: |
        make install
        make citool

    - name: Tests
      run: make test

    - name: Lints
      run: make lint

    - name: Build
      run: make build

    - name: Coverage
      uses: codecov/codecov-action@v3
      with:
        directory: .ignore/
        fail_ci_if_error: true
        flags: unit-testing
        name: codecov-umbrella
        verbose: true
